
[Unit]
Description=wvr-feed
Wants=network.target
After=network.target

[Service]
User=wvr
RuntimeDirectory=wvr-feed
ExecStart=/usr/local/share/wvr/wvr-feed.sh
Type=simple
Restart=always
RestartSec=30
StartLimitInterval=1
StartLimitBurst=100
SyslogIdentifier=wvr-feed
Nice=-1

[Install]
WantedBy=default.target
